body {
}
.board {

border:7px lightgray solid;
width:306px;
height:306px;
margin:auto;
margin-top:200px;
}
.cell {
    border:1px #8470FF solid;
    width:100px;
    height:100px;
    float:left;
    background-color:#E6E6FA;
    font-size:60px;
    text-align:center;
}
